*.cache
Project_UAS_DataStructure/.vs/Project_UAS_DataStructure/v17/.suo
Project_UAS_DataStructure/.vs/Project_UAS_DataStructure/v17/DocumentLayout.json
Project_UAS_DataStructure/.vs/Project_UAS_DataStructure/FileContentIndex/0dfdc35f-81f5-48e5-9192-9f4200830d8e.vsidx